body {
	background-color: #ffffffb9;
	color: white;
}

.banner {
	background-color: #ffffffb9;
	color: rgb(179, 35, 35);
	font-size: 36px;
	text-align: center;
	padding: 120px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: #121441;
	color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.resetbuttonclass {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.resetbutton {
    background-color: #121441;
	color: white;
}

.resizebutton {
     background-color: #121441;
	color: white;   
}